// .babelrc
{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		"babel-plugin-transform-import-meta",
		[
			"babel-plugin-inline-import",
			{
				"extensions": [".gltf"]
			}
		],
		"@babel/plugin-transform-modules-commonjs"
	]
}