/* 
  
  .button.view{
    color : #FA8072;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5em;
    padding-left: 1.75em;
  }
  
  .button.view:hover{
    color: #7B0323;
  }
  
  .table.reservation{
    margin-left: auto;
    margin-right: auto;
  }
  
  .row.head{
    border-style: solid;
    border-color: #888;
    border-bottom-width: 0.15em;
  }
  
  .row.body{
    
  }
  .reservationCard{
    
    border-style: solid;
    border-width: 0.05em;
    margin: 0.2em;
  }

  .reservationCard td{
    margin: auto;
  }
  
  .row.body td, .row.head th {
    padding: 0.15em;
    padding-left: 0.7em;
  }  
  
  .button.backToReservations{
    border-width: 0.1em;
    border-color: #FA8072;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10%;
  }
  
  .headingValues{
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
  }
  
  .inline{
    display: inline-block;
  }
  
  .h1{
    font-size: 28px;
    padding-bottom: 0.5em;
  }
  
  .headingLabel{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
  }
  
  .h2{
    font-size: 24px;
    margin-left: 2em;
  }
  
  .h3{
    font-size: 16px;
    font-style: italic;
    color: #888;
    padding-left: 4.75em;
  }
  
  .leftpadding{
    padding-left: 1em;
  }
  
  .headingwrapper{
    border-width: 0.2em;
    width: 100%;
  }
  
  .edit{
    border-color: #7B0323;
    border-width: 0.2em;
    font-size: 26px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 5%;
    float: right;
  }
  
  .edit:hover{
    background-color: #FA8072;
  }
  
   */